/*
style.css
demonstrates basic CSS rules
*/
/* Maria, 2/28/25, paragraph size 12 to 16 and changed h2 font*/
body {
 background-color: #666699;
}

h1 {
 font-family: "Courier New", Arial, monospace;
 color: #000066;
}

h2 {
 font-family: "Lucida Console", Arial, monospace;
 color: #FFFFFF;
}

p {
 font-size:16pt;
}
/* changed list points from squares to circles */
ul.a {
 list-style-type: circle;
}
